<!DOCTYPE html>
<html>
<head>
<title>Globomantics</title>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"/>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
 <link href="css/style-home.css" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" href="images/G.png"/>
</head>

<body>
<div id="wrapper">
	<header>
	    <div class="container">
		    <div class="logo col-md-5 col-sm-5 col-xs-8">
          <a href="index.html"><img src="images/Globo-Logo-white.svg" alt="logo"/></a>
          <span class="text">MANIACALLY TAKING TECH TO THE GLOBE</span>
			  </div>
			  <div class="mobile-togle col-md-12 col-sm-12 col-xs-12">
          <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" id="hamburger" class="navbar-toggle x collapsed" data-toggle="collapse" data-target="#navbar-collapse-x">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#top"></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-x">
              <ul class="nav navbar-nav navbar-right">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    
                  </li>
                </ul>
              </ul>
            </div>
          </nav>
  			</div>
  			<div class="right_section col-md-5 col-xs-12">
  		    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                 
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="sign-in col-md-2">
          <span class="dvider"></span>
          <div class="sign">
          <a href="/login"><img class="sign-in-img" src="images/avatar.svg" alt="sign-in">
          Sign-in</a>
          </div>
        </div>
  		</div>
  	</header>
    <section class="banner">
      <img src="images/hero image.png"/>
      <div class="inner-content col-md-12">
        <div class="container jumboContainer">
          <div class=" col-md-8 middle">
            <h1>Disover<br> <span>Our new Product</span>.</h1>

            <p>We were there and it is going to be epic</p>
          </div>
          <div class="content-right col-md-4">
            <h4>Register to create a new account and get access to more features</h4>
          <div class="text-center">
            <div >
              <h3><a href="/register" class="btn-oval">SIGN UP NOW</a></h3>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec_include">
      <div class="container">
			<div class="row">
			  <div class="col-xs-12 col-sm-4 col-md-4 adj_text">
					<h3>Products</h3>
          <p>Discover the latest products added in the system</p>
          <img src="images/Bitmap.png" alt="Public Adjuster"/>
          <div class="read-more-btn">
            <a href="/products" class="btn-oval">Learn More</a>
          </div>
	      </div>
			</div>
		</div>
	</section>








</div><!---------- End of Wrapper ----------->



  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script>
jQuery(document).ready(function(){

 // alert("wow");
  //  jQuery("header").addClass("fixed");
  jQuery("#hamburger").click(function(){
		//alert("The paragraph was clicked.");
		jQuery("header").toggleClass("fixed");
	});


});

</script>

</body>
</html>
